@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=Poppins:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #090411;
    font-family: 'Darker Grotesque', sans-serif;
    /* overflow:hidden; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.aos-init:not(.aos-animate):after {position: fixed;}
html {
    scroll-behavior: smooth;
  }
ul>li:hover{
    color: #E2D2F6;
}
.hamburger{
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    top: 15px;
    right: 4px;
    position: fixed;
    z-index: 999;
}
.show{
	transform: rotate(45deg);
	position: relative;
	top:5px;
	left: 0px;
}
.showw{
	transform: rotate(-45deg);
	position: relative;
	bottom: 8px;
}
.remove{
	display: none;
}
.showNav{
	transform: translateX(0%);
	transition: all ease-in-out 1s;
}
header{
    position:fixed;
    top:0;
    width:100%;
    z-index: 999;
}
.icons>a:hover{
    transform:scaleX(1.1);
    transition: all ease-in-out 400ms;
}
#form-button{
    transition: all ease-in-out 400ms;
}
#form-button:hover{
    transform: scaleX(1.1);
    transition: all ease-in-out 400ms;
}
    
@media screen and (max-width: 768px) {
    .hero{
        margin-top: 60px;
    }
   nav ul{
        flex-direction:column;
   }
   header{
    /* width:fit-content; */
    overflow-x:hidden;
   }
   nav{
        background-color:#0B0514;
        position:fixed;
        left:100%;
        right:0;
        bottom:0;
        top: 52px;;
        transition: all ease-in-out 1s;
        padding: 1rem;
        /* overflow-y:auto;/ */
   }
   .show-header{
    background-color:#0B0514;
    
   }
   .show-nav{
    border-top: 1px solid gray;
        left:0;
        transition: all ease-in-out 1s;
   }

    
  }

  @media screen and (width: 768px) {
    /* Styles for screens with an exact width of 768 pixels */
    nav{
        transform: translateX(0%);

    }
    nav ul{
        flex-direction: row;
    }
  }